page-popover-credit {
    ion-content {
        --background: none;
        background-image: url('/assets/imgs/appBack.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
      }
    .popover-ios .popover-content {
        border-radius: 10px;
        width: 316px;
        min-width: 0;
        min-height: 0;
        max-height: 90%;
        color: #000;
        background: #fff;
    }
    width: 314px !important;
    .btn-pop-credit {
        padding: 9px !important;
        background-color: #DD4B39;
        border-radius: 10px;
    }
    .button-ios.activated {
        background-color: black;
    }    

    .toolbar-title-ios {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
        pointer-events: auto;
    }
    .toolbar-title {
        display: block;
        overflow: visible; 
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    form, input, optgroup, select {
        margin: 0;
        font-size: x-large;
        color: inherit;
        font-weight: bolder;;
    }
    ion-label {
        margin: 0;
        display: block;
        overflow: visible;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: small;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
}
